* {
  box-sizing: border-box;
}

.wrap {
  min-height: 100vh;
  min-width: 100vh;
  background: #e7efec;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scoreboard {
  &__title {
    line-height: 80px;
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 50px;
  }
  &__form {
    width: 600px;
    height: 60px;
    background-color: #e7efec;
    position: relative;
    &-input {
      position: relative;
    }
    &-icon {
      position: absolute;
      left: 3px;
      top: 20px;
    }
    &-search {
      height: 60px;
      border: none;
      padding: 30px;
      min-width: 550px;
      outline: none;
      font-size: 24px;
    }
    &-submit {
      position: absolute;
      top: 0;
      right: 0;
      width: 150px;
      height: 60px;
      font-size: 25px;
      border-top-right-radius: 45px;
      transition: 0.5s;
      background: #1eb7ee;
      color: #fff;

      &:hover {
        border-top-right-radius: 25px;
      }
      &:focus {
        border-top-right-radius: 25px;
      }
    }
  }
}

.conteiner {
  position: relative;
  min-width: 75%;
  margin-top: 35px;
  margin-bottom: 20px;

  &__btn-arrival {
    left: 50%;
    border-radius: 0px 60px 0px 0;
    color: #fff;
    background: #1eb7ee;
    &_active {
      color: #fff;
      background: #1eb7ee;
      left: 50%;
      border-radius: 0px 60px 0px 0;
      :hover{
        opacity: 30%;
      }
    }
    &_inactive {
      color: #1eb7ee;
      background: #fff;
      z-index: 1;
      left: 50%;
      border-radius: 0px 60px 0px 0;
      :hover{
        opacity: 30%;
      }
    }
  }
  &__btn-departure {
    left: 50%;
    border-radius: 60px 0px 0px 0;
    color: #1eb7ee;
    background: #ffffff;
    text-decoration: none;
    &_active {
      color: #fff;
      background: #1eb7ee;
      z-index: 1;
      left: 50%;
      border-radius: 60px 0px 0px 0;
      :hover{
        opacity: 30%;
      }
    }

    &_inactive {
      color: #1eb7ee;
      background: #fff;
      left: 50%;
      border-radius: 60px 0px 0px 0;
      :hover{
        opacity: 30%;
        
      }
    }
  }
}
.btn {
  align-items: center;
  height: 60px;
  width: 50%;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}
.scoreboardList {
  width: 75%;
  border-collapse: collapse;
  text-align: left;
  margin-top: 25px;
  position: relative;
  &-header {
    padding-bottom: 10px;
    &__tr {
      text-align: center;
    }
  }
  &-body {
    background-color: #fff;
    &__tr {
      text-align: center;
      &-item{
        display: flex;
        margin-left: 25px;
      }
    }
    &:nth-child(odd) {
      background-color: #e7efec;
    }
  }
}
.image__logo{
  max-width: 40px;
  max-height: 40px;
  margin-right: 5px;
}

.error__tr {
  position: absolute;
  top: 0;
  left: 30%;
  margin-top: 55px;
  font-weight: bold;
  font-size: 32px;
  text-transform: uppercase;
}
td {
  padding: 20px 0;
}

a {
  text-decoration: none;
  margin: 15px;
}
