* {
  box-sizing: border-box;
}

.wrap {
  min-height: 100vh;
  min-width: 100vh;
  background: #e7efec;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scoreboard {
  &__title {
    line-height: 80px;
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 50px;
  }
  &__form {
    width: 600px;
    height: 60px;
    background-color: #e7efec;
    position: relative;
    &-search {
      height: 60px;
      border: none;
      padding: 10px;
      min-width: 550px;
      outline: none;
      font-size: 24px;
    }
    &-submit {
      position: absolute;
      top: 0;
      right: 0;
      width: 150px;
      height: 60px;
      font-size: 25px;
      border-top-right-radius: 45px;
      transition: 0.5s;
      background: #1eb7ee;
      color: #fff;

      &:hover {
        border-top-right-radius: 25px;
      }
      &:focus {
        border-top-right-radius: 25px;
      }
    }
  }
}

.conteiner {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  &__arrivel-btn {
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    font-size: 24px;
    font-weight: 600;
    border-radius: 60px 60px 0 0;
    text-transform: uppercase;
    color: #fff;
    background: #73d2f0;
    text-decoration: none;
    cursor: pointer;
  }
  &__departure-btn {
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    font-size: 24px;
    font-weight: 600;
    border-radius: 60px 60px 0 0;
    text-transform: uppercase;
    color: #fff;
    background: #73d2f0;
    text-decoration: none;
    cursor: pointer;
  }
}

.scoreboardList {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  margin-top: 25px;
  &-header {
    padding-bottom: 10px;
    &__tr {
      text-align: center;
    }
  }
  &-body {
    background-color: #fff;
    &__tr {
      text-align: center;
    }
    &:nth-child(odd) {
      background-color: #e7efec;
    }
  }
}
td {
  padding: 20px 0;
}
